/*
Theme Name: baseboat-gp
Theme URI: https://github.com/quentin-ld/baseboat-gp
Author: @quentinldd
Author URI: https://holdmywp.com/
Description: baseboat-gp is a flexible WordPress starter theme designed for building generatepress child themes
Requires at least: 6.8
Tested up to: 6.8
Requires PHP: 5.7
Template:     generatepress
Version:      1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: baseboat-gp
Tags: Block editor styles, Custom colors, Custom logo, Custom menu, Editor style, Block themes, One column, Wide blocks
*/

