// -----------------------------------------------------------------------------
// This file contains all application-wide Sass responsive functions.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'variables'; // Import your variables file

// Media of at least the minimum breakpoint width
@mixin media-breakpoint-up($name) {
	$min: map.get(variables.$theme-breakpoints, $name);

	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

// Media of at most the maximum breakpoint width
@mixin media-breakpoint-down($name) {
	$max: map.get(variables.$theme-breakpoints, $name);

	@if $max {
		@media (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}

// Media between the breakpoint's minimum and maximum widths
@mixin media-breakpoint-only($name) {
	$min: map.get(variables.$theme-breakpoints, $name);
	$next: breakpoint-next($name); // Utilise la fonction breakpoint-next pour obtenir le suivant
	$max: map.get(variables.$theme-breakpoints, $next);

	@if $min and $max {
		@media (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else if $max ==null {
		@include media-breakpoint-up($name) {
			@content;
		}
	} @else if $min ==null {
		@include media-breakpoint-down($next) {
			@content;
		}
	}
}
