.wp-block-button.is-style-outline {
  .wp-block-button__link {
    &:is(:hover, :focus) {
    }
  }
}

.wp-block-button__link {
  &:is(:hover, :focus) {
  }
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
}

button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
  &:is(:hover, :focus) {
  }
}
